{erl_opts, [
    debug_info
]}.

{deps, [bbmustache, cowboy]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [wspad]}
]}.

{relx, [
    {release, {wspad, "0.0.1"}, [wspad]},
    {dev_mode, true},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [{dev_mode, false}, {include_erts, true}, {include_src, false}, {debug_info, strip}]}
    ]}
]}.
