<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\">
    <link href=\"_style.css\" rel=\"stylesheet\"/>
  </head>
  <body>
    <ul>
    {{#pads}}
        <li><a href="{{{.}}}">{{{.}}}</a></li>
    {{/pads}}
    </ul>
    <br>
    <!--input class="pad-name" type="text" placeholder="name scribble here"/>
    <input class="create-pad" type="submit">Create</input-->
  </body>
</html>
